.gallery_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #795548;
    color: white;
  }
  
  .gallery_heading {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
.gallery{
    background-color: white !important;
}

