:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 100%;

  color-scheme: light dark;
  color: #171c5f;
  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}